.places{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.places h1{
    font-size: 30px;
}
.places_title{
    padding-top: 30px;
    margin-bottom: -25px;
}
.articles{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}
article{
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
article h2{
    font-size: 30px;
    margin-top: -1px;
    padding-left: 20%;
}
.article_title{
    width: 100%;
}
.price_by_night{
    color: #FF5A5F;
    border: solid #FF5A5F 4px;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    margin-top: -10px;
}
.price{
    margin-top: 10px;
}